In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
pricing = "Pricing.csv"

# Read the CSV into a Pandas DataFrame
inv_pricing = pd.read_csv(pricing)

inv_pricing.head()

,Branch,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Dept Impacted,Date
0,DEN,Amazon,V10313861,SM1130350-1,118.68,80.00,-38.68,Consumables,Service,02/26/21
1,DEN,Amazon,V10313863,SM1130354,92.24,80.00,-12.24,Consumables,Service,02/26/21
2,DEN,Amazon,V10315451,SM1131349,104.16,75.00,-29.16,Consumables,Service,03/16/21
3,DEN,Amazon,V10315465,SM1131352,99.08,75.00,-24.08,Consumables,Service,03/16/21
4,DEN,Amazon,V10315468,SM1131354,119.72,75.00,-44.72,Consumables,Service,03/16/21

In [3]:
#Reorgainze columns
invpricing_df = inv_pricing[["Branch", "Dept Impacted", "Customer Name", "Invoice", "Work Order", " QW Total ", " SAP Total ", " Discrepancy ", "Cause", "Date"]]

invpricing_df.head()

,Branch,Dept Impacted,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Date
0,DEN,Service,Amazon,V10313861,SM1130350-1,118.68,80.00,-38.68,Consumables,02/26/21
1,DEN,Service,Amazon,V10313863,SM1130354,92.24,80.00,-12.24,Consumables,02/26/21
2,DEN,Service,Amazon,V10315451,SM1131349,104.16,75.00,-29.16,Consumables,03/16/21
3,DEN,Service,Amazon,V10315465,SM1131352,99.08,75.00,-24.08,Consumables,03/16/21
4,DEN,Service,Amazon,V10315468,SM1131354,119.72,75.00,-44.72,Consumables,03/16/21

In [4]:
#rename columns
invpricing_df = invpricing_df.rename(columns={"Customer Name":"Customer", "Invoice":"Inv Number", "Work Order":"WO", 
                                              " QW Total ":"QW Total", " SAP Total ":"SAP Total", " Discrepancy ":"Discrepancy", "Date":"Inv Date"})

invpricing_df.head()

,Branch,Dept Impacted,Customer,Inv Number,WO,QW Total,SAP Total,Discrepancy,Cause,Inv Date
0,DEN,Service,Amazon,V10313861,SM1130350-1,118.68,80.00,-38.68,Consumables,02/26/21
1,DEN,Service,Amazon,V10313863,SM1130354,92.24,80.00,-12.24,Consumables,02/26/21
2,DEN,Service,Amazon,V10315451,SM1131349,104.16,75.00,-29.16,Consumables,03/16/21
3,DEN,Service,Amazon,V10315465,SM1131352,99.08,75.00,-24.08,Consumables,03/16/21
4,DEN,Service,Amazon,V10315468,SM1131354,119.72,75.00,-44.72,Consumables,03/16/21

In [5]:
#check data types to adjust as needed
invpricing_df.dtypes

Branch            object
Dept Impacted     object
Customer          object
Inv Number        object
WO                object
QW Total         float64
SAP Total         object
Discrepancy      float64
Cause             object
Inv Date          object
dtype: object

In [6]:
#replace "-" value with 0 in order to convert to numeric
invpricing_df['SAP Total'] = invpricing_df['SAP Total'].replace({ "-": "0.00"})

In [7]:
#update SAP Total column to numeric values and Date column to datetime
invpricing_df["SAP Total"] = invpricing_df["SAP Total"].apply(pd.to_numeric)

invpricing_df["Inv Date"]=pd.to_datetime(invpricing_df["Inv Date"])

#verify data types updated
invpricing_df.dtypes

Branch                   object
Dept Impacted            object
Customer                 object
Inv Number               object
WO                       object
QW Total                float64
SAP Total               float64
Discrepancy             float64
Cause                    object
Inv Date         datetime64[ns]
dtype: object

In [8]:
invpricing_df.head()

,Branch,Dept Impacted,Customer,Inv Number,WO,QW Total,SAP Total,Discrepancy,Cause,Inv Date
0,DEN,Service,Amazon,V10313861,SM1130350-1,118.68,80.0,-38.68,Consumables,2021-02-26
1,DEN,Service,Amazon,V10313863,SM1130354,92.24,80.0,-12.24,Consumables,2021-02-26
2,DEN,Service,Amazon,V10315451,SM1131349,104.16,75.0,-29.16,Consumables,2021-03-16
3,DEN,Service,Amazon,V10315465,SM1131352,99.08,75.0,-24.08,Consumables,2021-03-16
4,DEN,Service,Amazon,V10315468,SM1131354,119.72,75.0,-44.72,Consumables,2021-03-16

In [13]:
#create new column for month 
invpricing_df["Month"] = invpricing_df["Inv Date"].dt.month
invpricing_df.head()

,Branch,Dept Impacted,Customer,Inv Number,WO,QW Total,SAP Total,Discrepancy,Cause,Inv Date,Month
0,DEN,Service,Amazon,V10313861,SM1130350-1,118.68,80.0,-38.68,Consumables,2021-02-26,2
1,DEN,Service,Amazon,V10313863,SM1130354,92.24,80.0,-12.24,Consumables,2021-02-26,2
2,DEN,Service,Amazon,V10315451,SM1131349,104.16,75.0,-29.16,Consumables,2021-03-16,3
3,DEN,Service,Amazon,V10315465,SM1131352,99.08,75.0,-24.08,Consumables,2021-03-16,3
4,DEN,Service,Amazon,V10315468,SM1131354,119.72,75.0,-44.72,Consumables,2021-03-16,3

In [15]:
#replace Month number with name

invpricing_df["Month"] = invpricing_df["Month"].replace({1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
                                                         7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 
                                                         12:"December"})

In [17]:
#verify all values have updated
invpricing_df["Month"].value_counts()

April        354
January      349
February     349
July         309
June         300
August       279
March        278
October      218
May          187
September    186
November      67
Name: Month, dtype: int64