In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
pricing = "Pricing.csv"

# Read the CSV into a Pandas DataFrame
inv_pricing = pd.read_csv(pricing)

inv_pricing.head()

,Branch,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Dept Impacted,Date
0,DEN,Amazon,V10313861,SM1130350-1,$118.68,$80.00,$(38.68),Consumables,Service,02/26/21
1,DEN,Amazon,V10313863,SM1130354,$92.24,$80.00,$(12.24),Consumables,Service,02/26/21
2,DEN,Amazon,V10315451,SM1131349,$104.16,$75.00,$(29.16),Consumables,Service,03/16/21
3,DEN,Amazon,V10315465,SM1131352,$99.08,$75.00,$(24.08),Consumables,Service,03/16/21
4,DEN,Amazon,V10315468,SM1131354,$119.72,$75.00,$(44.72),Consumables,Service,03/16/21

In [3]:
inv_pricing_df = inv_pricing[["Branch", "Dept Impacted", "Customer Name", "Invoice", "Work Order", "QW Total" ]]

inv_pricing_df.head()

KeyError: "['QW Total'] not in index"