In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
pricing = "Pricing.csv"

# Read the CSV into a Pandas DataFrame
invpricing_df = pd.read_csv(pricing)

invpricing_df.head()

,Branch,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Dept Impacted,Date
0,ABQ,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,Mountain Power,10/01/21
1,ABQ,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,Mountain Power,10/01/21
2,ABQ,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,Mountain Power,10/01/21
3,ABQ,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,Service,02/01/21
4,ABQ,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,Service,02/03/21

In [3]:
#Reorgainze columns
invpricing_df = invpricing_df[["Branch", "Dept Impacted", "Customer Name", "Invoice", "Work Order", " QW Total ", " SAP Total ", " Discrepancy ", "Cause", "Date"]]

invpricing_df.head()

,Branch,Dept Impacted,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Date
0,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21
1,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21
2,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21
3,ABQ,Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21
4,ABQ,Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21

In [4]:
#rename columns
invpricing_df = invpricing_df.rename(columns={"Customer Name":"Customer", "Dept Impacted":"Dept_Impacted", "Invoice":"Inv_Number", "Work Order":"WO", 
                                              " QW Total ":"QW_Total", " SAP Total ":"SAP_Total", " Discrepancy ":"Discrepancy", "Date":"Inv_Date"})

invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21
1,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21
2,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21
3,ABQ,Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21
4,ABQ,Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21

In [5]:
#Combine branch and dept 

invpricing_df['Branch_Dept'] = invpricing_df.Branch.str.cat(invpricing_df.Dept_Impacted,sep=" ")
invpricing_df

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Branch_Dept
0,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21,ABQ Mountain Power
1,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21,ABQ Mountain Power
2,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21,ABQ Mountain Power
3,ABQ,Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21,ABQ Service
4,ABQ,Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21,ABQ Service
...,...,...,...,...,...,...,...,...,...,...,...
2932,SLC,Parts,Americold,V30107506,C3039756,184.30,171.04,-13.26,Tax,10/21/21,SLC Parts
2933,SLC,Parts,Americold,V30107773,W357054,5319.14,4936.54,-382.60,Tax,10/28/21,SLC Parts
2934,SLC,Parts,Americold,V30108008,C3039912,1696.68,1574.65,-122.03,Tax,11/03/21,SLC Parts
2935,SLC,Service,Amazon,V30098887,W351970,484.00,360.00,-124.00,Incorrect Labor Rate,02/23/21,SLC Service
2936,SLC,Service,Grainger,V30107578,W357423,233.67,232.50,-1.16,Productive Rounding,10/25/21,SLC Service

In [6]:
#create new DF with branch_dept combined column
invpricing = invpricing_df[["Branch_Dept", "Customer", "Inv_Number", "WO", "QW_Total", "SAP_Total", "Discrepancy", "Cause", "Inv_Date"]]

invpricing.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21
1,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21
2,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21

In [7]:
#check data types to adjust as needed
invpricing.dtypes

Branch_Dept     object
Customer        object
Inv_Number      object
WO              object
QW_Total       float64
SAP_Total      float64
Discrepancy    float64
Cause           object
Inv_Date        object
dtype: object

In [8]:
#update SAP Total column to numeric values and Date column to datetime

invpricing["Inv_Date"]=pd.to_datetime(invpricing["Inv_Date"])

#verify data types updated
invpricing.dtypes

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Branch_Dept            object
Customer               object
Inv_Number             object
WO                     object
QW_Total              float64
SAP_Total             float64
Discrepancy           float64
Cause                  object
Inv_Date       datetime64[ns]
dtype: object

In [9]:
invpricing.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,2021-10-01
1,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,2021-10-01
2,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,2021-10-01
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,2021-02-01
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,2021-02-03

In [10]:
#create new column for month 
invpricing["Month"] = invpricing["Inv_Date"].dt.month
invpricing.head()

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,2021-10-01,10
1,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,2021-10-01,10
2,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,2021-10-01,10
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,2021-02-01,2
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,2021-02-03,2

In [11]:
#replace Month number with name

invpricing["Month"] = invpricing["Month"].replace({1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
                                                         7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 
                                                         12:"December"})

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
#verify all values have updated
invpricing["Month"].value_counts()

April        354
February     349
January      349
July         309
June         300
March        278
August       277
October      218
May          187
September    186
November     124
December       6
Name: Month, dtype: int64

In [13]:
#view all cause categories
invpricing["Cause"].value_counts()

Part Pricing - Raymond           1007
Discount Labor Line               381
Environmental Fee                 325
Consumables                       221
Incorrect Labor Rate              219
Tax                               199
Productive Rounding               155
Part Pricing - TVH/Durasource      71
Entry Error - Labor Quantity       55
Over NTE                           37
Entry Error - Freight              35
Entry Error - Travel Quantity      34
Incorrect PM Rate                  32
Entry Error - Misc Charge          28
Entry Error - Part Pricing         21
Entry Error - Part Quantity        20
Travel Rate                        13
Entry Error - Travel Rate          11
Insufficient PO Funds               8
Unpaid - Reversed Status            7
Entry Error - SM Pricing            7
Tire Press                          6
Tire Disposal                       6
Entry Error - Duplicate Claim       5
Incorrect Vendor Markup             4
Incorrect Travel Rate               4
Part Pricing - Misc                 4
Unpaid - Cancel Status              4
Quote - Not Flat Rated              2
Labor Rate Increase                 2
Entry Error - Labor Dates           1
Cust Dispute Lbr Amt                1
Unpaid - Review Status              1
Incorrect Rate                      1
Incorrect Travel Quantity           1
Freight                             1
PO funds                            1
Core Charge                         1
Entry Error - Tire Press            1
Incorrect Labor Rate/Amt            1
Incorrect Part Pricing              1
Incorret Labor Rate                 1
PDN                                 1
Labor Loop Error                    1
Name: Cause, dtype: int64

In [19]:
#combine Causes into main categories
invpricing["Cause"] = invpricing["Cause"].replace({"Part Pricing - Raymond": "Part_Pricing", "Part Pricing - TVH/Durasource":"Part_Pricing",
                                                  "Part Pricing - Misc":"Part_Pricing", "Tax":"Tax_Enviro", "Environmental Fee":"Tax_Enviro", "Over NTE":"Over_NTE", 
                                                   "PO funds":"Over_NTE", "PO Funds":"Over_NTE", "Insufficient PO Funds":"Over_NTE", "Incorrect Labor Rate":"Incorrect_Rate",
                                                  "Discount Labor Line":"Incorrect_Rate", "Incorrect PM Rate":"Incorrect_Rate", "Incorrect Part Pricing":
                                                  "Incorrect_Rate", "Incorrect Labor Rate/Amt":"Incorrect_Rate" , "Productive Rounding":"Incorrect_Rate",
                                                  "Entry Error - Labor Quantity":"Entry_Error", "Entry Error - Freight": "Entry_Error", 
                                                    "Entry Error - Travel Quantity":"Entry_Error", "Entry Error - Misc Charge":"Entry_Error", 
                                                   "Entry Error - Part Pricing":"Entry_Error", "Entry Error - Travel Rate":"Entry_Error", "Entry Error - Part Quantity":
                                                  "Entry_Error", "Entry Error - SM Pricing":"Entry_Error", "PDN":"Misc_Charge", "Tire Press":"Misc_Charge", 
                                                   "Tire Disposal":"Misc_Charge", "Entry Error - Tire Press":"Misc_Charge"}) 


invpricing["Cause"].value_counts()

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Part_Pricing                     1082
Incorrect_Rate                    789
Tax_Enviro                        524
Consumables                       221
Entry_Error                       211
Over_NTE                           46
Travel Rate                        13
Misc_Charge                         8
Unpaid - Reversed Status            7
Tire Disposal                       6
Entry Error - Duplicate Claim       5
Unpaid - Cancel Status              4
Incorrect Travel Rate               4
Incorrect Vendor Markup             4
Quote - Not Flat Rated              2
Labor Rate Increase                 2
Freight                             1
Incorret Labor Rate                 1
Core Charge                         1
Cust Dispute Lbr Amt                1
Unpaid - Review Status              1
Incorrect Travel Quantity           1
Incorrect Rate                      1
Entry Error - Labor Dates           1
Labor Loop Error                    1
Name: Cause, dtype: int64

In [15]:
#create new DF with DEN Service invoices
den_df = invpricing[invpricing.Branch_Dept == "DEN Service"]

den_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
140,DEN Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February
141,DEN Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February
142,DEN Service,Aramsco,V10334621,W1079892,478.20,461.94,-16.26,Part_Pricing,2021-09-27,September
143,DEN Service,Aramsco,V10334950,W1080307,181.04,178.38,-2.66,Part_Pricing,2021-09-28,September
150,DEN Service,Amazon,V10313861,SM1130350-1,118.68,80.00,-38.68,Consumables,2021-02-26,February

In [16]:
#calculate monthly discrepancy for Denver Service
den_monthly = den_df.groupby(["Month"]).sum("Discrepancy")

den_monthly = den_monthly["Discrepancy"]

den_monthly

Month
April       -3142.48
August      -2693.39
December      -99.33
February    -2162.14
January     -3844.38
July        -2860.67
June        -2666.32
March       -2361.65
May         -1938.21
November    -1425.12
October     -1742.16
September   -3716.97
Name: Discrepancy, dtype: float64

In [24]:
#Calculate $$ per cause category
den_categorical = den_df.groupby(["Cause"]).sum("Discrepancy")

den_categorical = den_categorical["Discrepancy"]

den_categorical

Cause
Consumables       -2869.74
Entry_Error        -116.47
Incorrect_Rate     -199.97
Misc_Charge        -387.85
Over_NTE          -3211.13
Part_Pricing     -21737.77
Tax_Enviro          -89.89
Tire Disposal       -40.00
Name: Discrepancy, dtype: float64

In [26]:
#create new DF with month and cause $$ amounts
den_service = pd.DataFrame({"January":[den_monthly.January], "February":[den_monthly.February], "March":[den_monthly.March],
                           "April":[den_monthly.April], "May":[den_monthly.May], "June":[den_monthly.June], "July":[den_monthly.July],
                           "August":[den_monthly.August], "September":[den_monthly.September], "October":[den_monthly.October], 
                           "November":[den_monthly.November], "December":[den_monthly.December], "Part_Pricing":[den_categorical.Part_Pricing],
                           "Over_NTE":[den_categorical.Over_NTE], "Consumables":[den_categorical.Consumables], 
                            "Entry_Error":[den_categorical.Entry_Error], "Incorrect_Rate":[den_categorical.Incorrect_Rate], "Misc_Charge":[den_categorical.Misc_Charge],
                           "Tax_Enviro":[den_categorical.Tax_Enviro]})



#rename index to branch/dept
denserv_summary=den_service.rename({0: "Den_Service"})

denserv_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
DenService,-3844.38,-2162.14,-2361.65,-3142.48,-1938.21,-2666.32,-2860.67,-2693.39,-3716.97,-1742.16,-1425.12,-99.33,-21737.77,-3211.13,-2869.74,-116.47,-199.97,-387.85,-89.89

In [27]:
#create new DF with SLC Service invoices
slc_df = invpricing[invpricing.Branch_Dept == "SLC Service"]

slc_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
1196,SLC Service,Aramsco,V30097546,W351617,1003.41,1028.99,151.65,Incorrect_Rate,2021-01-28,January
1197,SLC Service,Aramsco,V30097548,W351711,703.29,725.62,101.36,Incorrect_Rate,2021-01-28,January
1198,SLC Service,Aramsco,V30097829,W351246,567.26,565.68,84.85,Incorrect_Rate,2021-02-05,February
1199,SLC Service,Aramsco,V30097824,W351298,309.42,308.56,46.28,Incorrect_Rate,2021-02-05,February
1200,SLC Service,Aramsco,V30097826,W351308,395.03,411.41,59.09,Incorrect_Rate,2021-02-05,February

In [30]:
#calculate monthly discrepancy for SLC Service
slc_monthly = slc_df.groupby(["Month"]).sum("Discrepancy")

slc_monthly = slc_monthly["Discrepancy"]

slc_monthly

Month
April       -1179.83
August        145.88
February    -1399.49
January       -48.60
July        -2561.36
June         -311.86
March       -4765.03
May         -1276.49
November    -2790.23
October     -2165.14
September   -2839.90
Name: Discrepancy, dtype: float64

In [32]:
#Calculate $$ per cause category
slc_categorical = slc_df.groupby(["Cause"]).sum("Discrepancy")

slc_categorical = slc_categorical["Discrepancy"]

slc_categorical

Cause
Consumables                       -271.09
Entry Error - Duplicate Claim      968.83
Entry Error - Labor Dates           82.45
Entry_Error                      -5412.00
Freight                            -97.21
Incorrect Rate                     100.20
Incorrect Travel Quantity          -36.75
Incorrect Travel Rate             -316.79
Incorrect Vendor Markup            508.20
Incorrect_Rate                   14006.28
Incorret Labor Rate                  9.64
Labor Loop Error                  -191.25
Labor Rate Increase                 -9.89
Misc_Charge                       -100.80
Over_NTE                          -393.75
Part_Pricing                    -13372.94
Tax_Enviro                      -12002.43
Tire Disposal                      -14.00
Travel Rate                       -276.25
Unpaid - Cancel Status            -499.24
Unpaid - Reversed Status         -1873.26
Name: Discrepancy, dtype: float64

In [34]:
#create new DF with month and cause $$ amounts for SLC
slc_service = pd.DataFrame({"January":[slc_monthly.January], "February":[slc_monthly.February], "March":[slc_monthly.March],
                           "April":[slc_monthly.April], "May":[slc_monthly.May], "June":[slc_monthly.June], "July":[slc_monthly.July],
                           "August":[slc_monthly.August], "September":[slc_monthly.September], "October":[slc_monthly.October], 
                           "November":[slc_monthly.November], "December":0, "Part_Pricing":[slc_categorical.Part_Pricing],
                           "Over_NTE":[slc_categorical.Over_NTE], "Consumables":[slc_categorical.Consumables], 
                            "Entry_Error":[slc_categorical.Entry_Error], "Incorrect_Rate":[slc_categorical.Incorrect_Rate], "Misc_Charge":[slc_categorical.Misc_Charge],
                           "Tax_Enviro":[slc_categorical.Tax_Enviro]})



#rename index to branch/dept
slcserv_summary=slc_service.rename({0: "SLC_Service"})

slcserv_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
SLCService,-48.6,-1399.49,-4765.03,-1179.83,-1276.49,-311.86,-2561.36,145.88,-2839.9,-2165.14,-2790.23,0,-13372.94,-393.75,-271.09,-5412.0,14006.28,-100.8,-12002.43

In [35]:
#create new DF with ABQ Service invoices
abq_df = invpricing[invpricing.Branch_Dept == "ABQ Service"]

abq_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part_Pricing,2021-02-01,February
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part_Pricing,2021-02-03,February
5,ABQ Service,Baker Distributing,V20083238,SM2038832,137.45,136.68,-0.77,Part_Pricing,2021-08-19,August
7,ABQ Service,Bunzl,V20081812,W240828,401.80,285.24,-115.50,Cust Dispute Lbr Amt,2021-06-15,June
8,ABQ Service,Bunzl,V20082232,W240733,964.02,1015.56,51.54,Entry_Error,2021-07-02,July

In [36]:
#calculate monthly discrepancy for ABQ Service
abq_monthly = abq_df.groupby(["Month"]).sum("Discrepancy")

abq_monthly = abq_monthly["Discrepancy"]

abq_monthly

Month
April        -204.11
August       -407.54
February     -150.81
January     -1201.89
July         -651.36
June         -103.32
March        -144.00
May          -219.72
November     -149.18
October       872.42
September     -65.53
Name: Discrepancy, dtype: float64

In [37]:
#Calculate $$ per cause category
abq_categorical = abq_df.groupby(["Cause"]).sum("Discrepancy")

abq_categorical = abq_categorical["Discrepancy"]

abq_categorical

Cause
Consumables               -30.93
Cust Dispute Lbr Amt     -115.50
Entry_Error              -278.04
Incorrect_Rate            493.93
Over_NTE                 -523.67
Part_Pricing             -958.89
Quote - Not Flat Rated   -426.87
Tax_Enviro               -129.94
Travel Rate              -263.57
Unpaid - Cancel Status   -191.56
Name: Discrepancy, dtype: float64

In [39]:
#create new DF with month and cause $$ amounts for ABQ
abq_service = pd.DataFrame({"January":[abq_monthly.January], "February":[abq_monthly.February], "March":[abq_monthly.March],
                           "April":[abq_monthly.April], "May":[abq_monthly.May], "June":[abq_monthly.June], "July":[abq_monthly.July],
                           "August":[abq_monthly.August], "September":[abq_monthly.September], "October":[abq_monthly.October], 
                           "November":[abq_monthly.November], "December":0, "Part_Pricing":[abq_categorical.Part_Pricing],
                           "Over_NTE":[abq_categorical.Over_NTE], "Consumables":[abq_categorical.Consumables], 
                            "Entry_Error":[abq_categorical.Entry_Error], "Incorrect_Rate":[abq_categorical.Incorrect_Rate], "Misc_Charge":0,
                           "Tax_Enviro":[abq_categorical.Tax_Enviro]})



#rename index to branch/dept
abqserv_summary=abq_service.rename({0: "ABQ_Service"})

abqserv_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
ABQService,-1201.89,-150.81,-144.0,-204.11,-219.72,-103.32,-651.36,-407.54,-65.53,872.42,-149.18,0,-958.89,-523.67,-30.93,-278.04,493.93,0,-129.94

In [40]:
#create new DF with DEN Shop invoices
denShop_df = invpricing[invpricing.Branch_Dept == "DEN Shop"]

denShop_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
405,DEN Shop,Amazon,V10334685,W1079259,1830.79,1778.80,-51.99,Part_Pricing,2021-09-27,September
1015,DEN Shop,US Autoforce,V10317040,W1062172,11071.14,10639.29,-431.85,Part_Pricing,2021-03-31,March

In [41]:
#calculate monthly discrepancy for DEN Shop
denShop_monthly = denShop_df.groupby(["Month"]).sum("Discrepancy")

denShop_monthly = denShop_monthly["Discrepancy"]

denShop_monthly

Month
March       -431.85
September    -51.99
Name: Discrepancy, dtype: float64

In [42]:
#Calculate $$ per cause category
denShop_categorical = denShop_df.groupby(["Cause"]).sum("Discrepancy")

denShop_categorical = denShop_categorical["Discrepancy"]

denShop_categorical

Cause
Part_Pricing   -483.84
Name: Discrepancy, dtype: float64

In [44]:
#create new DF with month and cause $$ amounts for DEN Shop
den_shop = pd.DataFrame({"January":0, "February":0, "March":[denShop_monthly.March],
                           "April":0, "May":0, "June":0, "July":0,
                           "August":0, "September":[denShop_monthly.September], "October":0, 
                           "November":0, "December":0, "Part_Pricing":[denShop_categorical.Part_Pricing],
                           "Over_NTE":0, "Consumables":0, 
                            "Entry_Error":0, "Incorrect_Rate":0, "Misc_Charge":0,
                           "Tax_Enviro":0})



#rename index to branch/dept
den_shop_summary=den_shop.rename({0: "DEN_Shop"})

den_shop_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
DEN_Shop,0,0,-431.85,0,0,0,0,0,-51.99,0,0,0,-483.84,0,0,0,0,0,0