In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
pricing = "Pricing.csv"

# Read the CSV into a Pandas DataFrame
invpricing_df = pd.read_csv(pricing)

invpricing_df.head()

,Branch,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Dept Impacted,Date
0,ABQ,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,Service,10/14/21
1,ABQ,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,Service,05/12/21
2,ABQ,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,Service,05/12/21
3,DEN,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,Service,02/11/21
4,DEN,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,Service,02/24/21

In [3]:
#Reorgainze columns
invpricing_df = invpricing_df[["Branch", "Dept Impacted", "Customer Name", "Invoice", "Work Order", " QW Total ", " SAP Total ", " Discrepancy ", "Cause", "Date"]]

invpricing_df.head()

,Branch,Dept Impacted,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Date
0,ABQ,Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,10/14/21
1,ABQ,Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,05/12/21
2,ABQ,Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,05/12/21
3,DEN,Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,02/11/21
4,DEN,Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,02/24/21

In [4]:
#rename columns
invpricing_df = invpricing_df.rename(columns={"Customer Name":"Customer", "Dept Impacted":"Dept_Impacted", "Invoice":"Inv_Number", "Work Order":"WO", 
                                              " QW Total ":"QW_Total", " SAP Total ":"SAP_Total", " Discrepancy ":"Discrepancy", "Date":"Inv_Date"})

invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ,Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,10/14/21
1,ABQ,Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,05/12/21
2,ABQ,Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,05/12/21
3,DEN,Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,02/11/21
4,DEN,Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,02/24/21

In [5]:
#check data types to adjust as needed
invpricing_df.dtypes

Branch            object
Dept_Impacted     object
Customer          object
Inv_Number        object
WO                object
QW_Total         float64
SAP_Total        float64
Discrepancy      float64
Cause             object
Inv_Date          object
dtype: object

In [6]:
#update Date column to datetime

invpricing_df["Inv_Date"] = pd.to_datetime(invpricing_df["Inv_Date"])

invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ,Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14
1,ABQ,Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12
2,ABQ,Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12
3,DEN,Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11
4,DEN,Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24

In [7]:
#create new column for month 
invpricing_df["Month"] = invpricing_df["Inv_Date"].dt.month
invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ,Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14,10
1,ABQ,Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12,5
2,ABQ,Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12,5
3,DEN,Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,2
4,DEN,Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,2

In [8]:
#replace Month number with name

invpricing_df["Month"] = invpricing_df["Month"].replace({1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
                                                         7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 
                                                         12:"December"})

invpricing_df

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ,Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14,October
1,ABQ,Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12,May
2,ABQ,Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12,May
3,DEN,Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February
4,DEN,Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February
...,...,...,...,...,...,...,...,...,...,...,...
2961,SLC,Service,Amazon,V30098630,SM3039864,165.00,0.00,-165.00,Unpaid - Reversed Status,2021-03-19,March
2962,SLC,Service,Amazon,V30098631,SM3039865,165.00,0.00,-165.00,Unpaid - Reversed Status,2021-03-19,March
2963,SLC,Service,Amazon,V30098634,SM3039862,75.00,0.00,-75.00,Unpaid - Reversed Status,2021-03-19,March
2964,SLC,Service,Amazon,V30098643,SM3040196,75.00,0.00,75.00,Unpaid - Reversed Status,2021-03-19,March
2965,SLC,Service,Baker Distributing,V30103471,W354833,267.04,0.00,-267.04,Unpaid - Reversed Status,2021-07-20,July

In [9]:
#Combine branch and dept 

invpricing_df['Branch_Dept'] = invpricing_df.Branch.str.cat(invpricing_df.Dept_Impacted,sep="_")
invpricing_df

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month,Branch_Dept
0,ABQ,Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14,October,ABQ_Service
1,ABQ,Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12,May,ABQ_Service
2,ABQ,Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12,May,ABQ_Service
3,DEN,Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February,DEN_Service
4,DEN,Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February,DEN_Service
...,...,...,...,...,...,...,...,...,...,...,...,...
2961,SLC,Service,Amazon,V30098630,SM3039864,165.00,0.00,-165.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2962,SLC,Service,Amazon,V30098631,SM3039865,165.00,0.00,-165.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2963,SLC,Service,Amazon,V30098634,SM3039862,75.00,0.00,-75.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2964,SLC,Service,Amazon,V30098643,SM3040196,75.00,0.00,75.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2965,SLC,Service,Baker Distributing,V30103471,W354833,267.04,0.00,-267.04,Unpaid - Reversed Status,2021-07-20,July,SLC_Service

In [10]:
#create new DF with branch_dept combined column
invpricing = invpricing_df[["Branch_Dept", "Customer", "Inv_Number", "WO", "QW_Total", "SAP_Total", "Discrepancy", "Cause", "Inv_Date", "Month"]]

invpricing.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ_Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14,October
1,ABQ_Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12,May
2,ABQ_Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12,May
3,DEN_Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February
4,DEN_Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February

In [11]:
invpricing["Branch_Dept"].value_counts()

SLC_Service           1739
DEN_Service            995
ABQ_Service            137
DEN_Mountain Power      48
DEN_Parts               24
SLC_Parts               14
ABQ_Mountain Power       3
DEN_Tire Truck           2
ABQ_Parts                2
DEN_Shop                 2
Name: Branch_Dept, dtype: int64

In [12]:
#update Mountain Power and Denver Tire values 
invpricing = invpricing.replace({"ABQ_Mountain Power":"MountainPower", "DEN_Mountain Power":"MountainPower", "DEN_Tire Truck":"DEN_Tire"})

invpricing

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ_Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14,October
1,ABQ_Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12,May
2,ABQ_Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12,May
3,DEN_Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February
4,DEN_Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February
...,...,...,...,...,...,...,...,...,...,...
2961,SLC_Service,Amazon,V30098630,SM3039864,165.00,0.00,-165.00,Unpaid - Reversed Status,2021-03-19,March
2962,SLC_Service,Amazon,V30098631,SM3039865,165.00,0.00,-165.00,Unpaid - Reversed Status,2021-03-19,March
2963,SLC_Service,Amazon,V30098634,SM3039862,75.00,0.00,-75.00,Unpaid - Reversed Status,2021-03-19,March
2964,SLC_Service,Amazon,V30098643,SM3040196,75.00,0.00,75.00,Unpaid - Reversed Status,2021-03-19,March
2965,SLC_Service,Baker Distributing,V30103471,W354833,267.04,0.00,-267.04,Unpaid - Reversed Status,2021-07-20,July

In [13]:
#view all cause categories
invpricing["Cause"].value_counts()

Part Pricing - Raymond           1023
Discount Labor Line               381
Environmental Fee                 325
Consumables                       226
Incorrect Labor Rate              224
Tax                               201
Productive Rounding               155
Part Pricing - TVH/Durasource      71
Entry Error - Labor Quantity       55
Over NTE                           37
Entry Error - Freight              36
Entry Error - Travel Quantity      34
Incorrect PM Rate                  32
Entry Error - Misc Charge          31
Entry Error - Part Pricing         21
Entry Error - Part Quantity        20
Incorrect Travel Rate              17
Entry Error - Travel Rate          11
PO Funds                            9
Unpaid - Reversed Status            7
Entry Error - SM Pricing            7
Tire Disposal                       6
Tire Press                          6
Entry Error - Duplicate Claim       5
Part Pricing - Misc                 4
Incorrect Battery Rate              3
Incorrect Vendor Markup             3
Flat Rate Error                     3
Unpaid - Cancel Status              3
Incorrect Part Pricing              1
Unpaid - Return Status              1
Unpaid - Denied Status              1
PDN                                 1
Cust Dispute Lbr Amt                1
Entry Error - Labor Dates           1
Core Charge                         1
Entry Error - Tire Press            1
Incorrect Travel Quantity           1
Incorrect Labor Rate/Amt            1
Name: Cause, dtype: int64

In [14]:
#combine Causes into similar categories
invpricing = invpricing.replace({"Part Pricing - Raymond": "Part_Pricing", "Part Pricing - TVH/Durasource":"Part_Pricing",
                                    "Part Pricing - Misc":"Part_Pricing", "Tax":"Tax_Enviro", "Environmental Fee":"Tax_Enviro", "Over NTE":"Over_NTE", 
                                    "PO Funds":"Over_NTE", "PO Funds":"Over_NTE", "Incorrect Labor Rate":"Incorrect_Rate",
                                    "Discount Labor Line":"Incorrect_Rate", "Incorrect PM Rate":"Incorrect_Rate", "Incorrect Part Pricing":
                                    "Incorrect_Rate", "Incorrect Labor Rate/Amt":"Incorrect_Rate" , "Productive Rounding":"Incorrect_Rate",
                                    "Entry Error - Labor Quantity":"Entry_Error", "Entry Error - Freight": "Entry_Error", 
                                    "Entry Error - Travel Quantity":"Entry_Error", "Entry Error - Misc Charge":"Entry_Error", 
                                    "Entry Error - Part Pricing":"Entry_Error", "Entry Error - Travel Rate":"Entry_Error", "Entry Error - Part Quantity":
                                    "Entry_Error", "Entry Error - SM Pricing":"Entry_Error", "PDN":"Misc_Charge", "Tire Press":"Misc_Charge", 
                                    "Tire Disposal":"Misc_Charge", "Entry Error - Tire Press":"Misc_Charge", "Incorrect Travel Rate":"Incorrect_Rate",
                                    "Incorrect Vendor Markup":"Incorrect_Rate", "Incorrect Battery Rate":"Incorrect_Rate", "Flat Rate Error":"Incorrect_Rate",
                                    "Incorrect Travel Quantity":"Incorrect_Rate", "Incorrect Travel Rate":"Incorrect_Rate" , "Unpaid - Reversed Status":"Unpaid", "Unpaid - Cancel Status":"Unpaid",
                                    "Unpaid - Denied Status":"Unpaid", "Unpaid - Return Status":"Unpaid", "Entry Error - Duplicate Claim":"Entry_Error", "Core Charge":"Entry_Error",
                                    "Entry Error - Labor Dates":"Entry_Error" }) 

invpricing["Cause"].value_counts()

Part_Pricing            1098
Incorrect_Rate           821
Tax_Enviro               526
Consumables              226
Entry_Error              222
Over_NTE                  46
Misc_Charge               14
Unpaid                    12
Cust Dispute Lbr Amt       1
Name: Cause, dtype: int64

In [15]:
#create new DF with DEN Service invoices
den_df = invpricing[invpricing.Branch_Dept == "DEN_Service"]

den_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
3,DEN_Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February
4,DEN_Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February
5,DEN_Service,Amazon,V10313861,SM1130350-1,118.68,80.00,-38.68,Consumables,2021-02-26,February
6,DEN_Service,Amazon,V10313863,SM1130354,92.24,80.00,-12.24,Consumables,2021-02-26,February
7,DEN_Service,Amazon,V10315451,SM1131349,104.16,75.00,-29.16,Consumables,2021-03-16,March

In [16]:
#calculate monthly discrepancy for Denver Service
den_monthly = den_df.groupby(["Month"]).sum("Discrepancy")

den_monthly = den_monthly["Discrepancy"]

den_monthly

Month
April       -3142.48
August      -2693.39
December     -501.29
February    -2162.14
January     -3844.38
July        -2860.67
June        -2666.32
March       -2361.65
May         -1938.21
November    -1425.12
October     -1742.16
September   -3716.97
Name: Discrepancy, dtype: float64

In [17]:
#Calculate $$ per cause category
den_categorical = den_df.groupby(["Cause"]).sum("Discrepancy")

den_categorical = den_categorical["Discrepancy"]

den_categorical

Cause
Consumables       -2935.39
Entry_Error        -116.47
Incorrect_Rate     -199.97
Misc_Charge        -427.85
Over_NTE          -3211.13
Part_Pricing     -22074.08
Tax_Enviro          -89.89
Name: Discrepancy, dtype: float64

In [18]:
#create new DF with month and cause $$ amounts
den_service = pd.DataFrame({"January":[den_monthly.January], "February":[den_monthly.February], "March":[den_monthly.March],
                           "April":[den_monthly.April], "May":[den_monthly.May], "June":[den_monthly.June], "July":[den_monthly.July],
                           "August":[den_monthly.August], "September":[den_monthly.September], "October":[den_monthly.October], 
                           "November":[den_monthly.November], "December":[den_monthly.December], "Part_Pricing":[den_categorical.Part_Pricing],
                           "Over_NTE":[den_categorical.Over_NTE], "Consumables":[den_categorical.Consumables], 
                            "Entry_Error":[den_categorical.Entry_Error], "Incorrect_Rate":[den_categorical.Incorrect_Rate], "Misc_Charge":[den_categorical.Misc_Charge],
                           "Tax_Enviro":[den_categorical.Tax_Enviro]})



#rename index to branch/dept
denserv_summary=den_service.rename({0: "Den_Service"})

denserv_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
Den_Service,-3844.38,-2162.14,-2361.65,-3142.48,-1938.21,-2666.32,-2860.67,-2693.39,-3716.97,-1742.16,-1425.12,-501.29,-22074.08,-3211.13,-2935.39,-116.47,-199.97,-427.85,-89.89

In [19]:
#create new DF with SLC Service invoices
slc_df = invpricing[invpricing.Branch_Dept == "SLC_Service"]

slc_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
202,SLC_Service,Home Depot,V30096632,SM3039362,98.89,85.0,-6.66,Consumables,2021-01-05,January
203,SLC_Service,Home Depot,V30099156,SM3040556,103.72,85.0,-18.72,Consumables,2021-03-11,March
204,SLC_Service,Home Depot,V30099302,SM3040623,99.34,85.0,-14.34,Consumables,2021-03-16,March
205,SLC_Service,Home Depot,V30099301,SM3040624,108.86,85.0,-23.86,Consumables,2021-03-16,March
206,SLC_Service,Home Depot,V30099304,SM3040629,83.65,75.0,-8.65,Consumables,2021-03-16,March

In [20]:
#calculate monthly discrepancy for SLC Service
slc_monthly = slc_df.groupby(["Month"]).sum("Discrepancy")

slc_monthly = slc_monthly["Discrepancy"]

slc_monthly

Month
April       -1179.83
August        145.88
December    -1614.62
February    -1399.49
January       -48.60
July        -2561.36
June         -311.86
March       -4765.03
May         -1276.49
November    -2790.23
October     -2166.30
September   -2839.90
Name: Discrepancy, dtype: float64

In [21]:
#Calculate $$ per cause category
slc_categorical = slc_df.groupby(["Cause"]).sum("Discrepancy")

slc_categorical = slc_categorical["Discrepancy"]

slc_categorical

Cause
Consumables        -271.09
Entry_Error       -3937.13
Incorrect_Rate    12851.75
Misc_Charge        -114.80
Over_NTE           -393.75
Part_Pricing     -13636.53
Tax_Enviro       -12119.05
Unpaid            -3187.23
Name: Discrepancy, dtype: float64

In [22]:
#create new DF with month and cause $$ amounts for SLC
slc_service = pd.DataFrame({"January":[slc_monthly.January], "February":[slc_monthly.February], "March":[slc_monthly.March],
                           "April":[slc_monthly.April], "May":[slc_monthly.May], "June":[slc_monthly.June], "July":[slc_monthly.July],
                           "August":[slc_monthly.August], "September":[slc_monthly.September], "October":[slc_monthly.October], 
                           "November":[slc_monthly.November], "December":[slc_monthly.December], "Part_Pricing":[slc_categorical.Part_Pricing],
                           "Over_NTE":[slc_categorical.Over_NTE], "Consumables":[slc_categorical.Consumables], 
                            "Entry_Error":[slc_categorical.Entry_Error], "Incorrect_Rate":[slc_categorical.Incorrect_Rate], "Misc_Charge":[slc_categorical.Misc_Charge],
                           "Tax_Enviro":[slc_categorical.Tax_Enviro]})



#rename index to branch/dept
slcserv_summary=slc_service.rename({0: "SLC_Service"})

slcserv_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
SLC_Service,-48.6,-1399.49,-4765.03,-1179.83,-1276.49,-311.86,-2561.36,145.88,-2839.9,-2166.3,-2790.23,-1614.62,-13636.53,-393.75,-271.09,-3937.13,12851.75,-114.8,-12119.05

In [23]:
#create new DF with ABQ Service invoices
abq_df = invpricing[invpricing.Branch_Dept == "ABQ_Service"]

abq_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ_Service,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,2021-10-14,October
1,ABQ_Service,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,2021-05-12,May
2,ABQ_Service,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,2021-05-12,May
227,ABQ_Service,Bunzl,V20081812,W240828,401.80,285.24,-115.50,Cust Dispute Lbr Amt,2021-06-15,June
614,ABQ_Service,Bunzl,V20082232,W240733,964.02,1015.56,51.54,Entry_Error,2021-07-02,July

In [24]:
#calculate monthly discrepancy for ABQ Service
abq_monthly = abq_df.groupby(["Month"]).sum("Discrepancy")

abq_monthly = abq_monthly["Discrepancy"]

abq_monthly

Month
April        -204.11
August       -407.54
February     -150.81
January     -1201.89
July         -651.36
June         -103.32
March        -144.00
May          -219.72
November     -513.21
October       872.42
September     -65.53
Name: Discrepancy, dtype: float64

In [25]:
#Calculate $$ per cause category
abq_categorical = abq_df.groupby(["Cause"]).sum("Discrepancy")

abq_categorical = abq_categorical["Discrepancy"]

abq_categorical

Cause
Consumables              -30.93
Cust Dispute Lbr Amt    -115.50
Entry_Error             -278.04
Incorrect_Rate          -325.51
Over_NTE                -523.67
Part_Pricing           -1193.92
Tax_Enviro              -129.94
Unpaid                  -191.56
Name: Discrepancy, dtype: float64

In [26]:
#create new DF with month and cause $$ amounts for ABQ
abq_service = pd.DataFrame({"January":[abq_monthly.January], "February":[abq_monthly.February], "March":[abq_monthly.March],
                           "April":[abq_monthly.April], "May":[abq_monthly.May], "June":[abq_monthly.June], "July":[abq_monthly.July],
                           "August":[abq_monthly.August], "September":[abq_monthly.September], "October":[abq_monthly.October], 
                           "November":[abq_monthly.November], "December":0, "Part_Pricing":[abq_categorical.Part_Pricing],
                           "Over_NTE":[abq_categorical.Over_NTE], "Consumables":[abq_categorical.Consumables], 
                            "Entry_Error":[abq_categorical.Entry_Error], "Incorrect_Rate":[abq_categorical.Incorrect_Rate], "Misc_Charge":0,
                           "Tax_Enviro":[abq_categorical.Tax_Enviro]})



#rename index to branch/dept
abqserv_summary=abq_service.rename({0: "ABQ_Service"})

abqserv_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
ABQ_Service,-1201.89,-150.81,-144.0,-204.11,-219.72,-103.32,-651.36,-407.54,-65.53,872.42,-513.21,0,-1193.92,-523.67,-30.93,-278.04,-325.51,0,-129.94

In [27]:
#create new DF with DEN Shop invoices
denShop_df = invpricing[invpricing.Branch_Dept == "DEN_Shop"]

denShop_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
1719,DEN_Shop,Amazon,V10334685,W1079259,1830.79,1778.80,-51.99,Part_Pricing,2021-09-27,September
2062,DEN_Shop,US Autoforce,V10317040,W1062172,11071.14,10639.29,-431.85,Part_Pricing,2021-03-31,March

In [28]:
#calculate monthly discrepancy for DEN Shop
denShop_monthly = denShop_df.groupby(["Month"]).sum("Discrepancy")

denShop_monthly = denShop_monthly["Discrepancy"]

denShop_monthly

Month
March       -431.85
September    -51.99
Name: Discrepancy, dtype: float64

In [29]:
#Calculate $$ per cause category
denShop_categorical = denShop_df.groupby(["Cause"]).sum("Discrepancy")

denShop_categorical = denShop_categorical["Discrepancy"]

denShop_categorical

Cause
Part_Pricing   -483.84
Name: Discrepancy, dtype: float64

In [30]:
#create new DF with month and cause $$ amounts for DEN Shop
den_shop = pd.DataFrame({"January":0, "February":0, "March":[denShop_monthly.March],
                           "April":0, "May":0, "June":0, "July":0,
                           "August":0, "September":[denShop_monthly.September], "October":0, 
                           "November":0, "December":0, "Part_Pricing":[denShop_categorical.Part_Pricing],
                           "Over_NTE":0, "Consumables":0, 
                            "Entry_Error":0, "Incorrect_Rate":0, "Misc_Charge":0,
                           "Tax_Enviro":0})



#rename index to branch/dept
den_shop_summary=den_shop.rename({0: "DEN_Shop"})

den_shop_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
DEN_Shop,0,0,-431.85,0,0,0,0,0,-51.99,0,0,0,-483.84,0,0,0,0,0,0

In [31]:
#create new DF with DEN Parts invoices
denParts_df = invpricing[invpricing.Branch_Dept == "DEN_Parts"]

denParts_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
226,DEN_Parts,Lineage Logistics,V10333690,C1088544,4812.40,2406.20,-2406.20,Entry_Error,2021-10-12,October
634,DEN_Parts,Lineage Logistics,V10333690,C1088544,4812.40,2406.20,120.31,Entry_Error,2021-10-12,October
635,DEN_Parts,Lineage Logistics,V10333691,C1088134,2406.20,2406.20,120.31,Entry_Error,2021-10-12,October
636,DEN_Parts,Walmart,V10327097,C1087868,69.02,69.72,6.98,Entry_Error,2021-07-27,July
637,DEN_Parts,Walmart,V10327072,C1087749,100.44,11.48,-70.50,Entry_Error,2021-07-27,July

In [32]:
#calculate monthly discrepancy for DEN Parts
denParts_monthly = denParts_df.groupby(["Month"]).sum("Discrepancy")

denParts_monthly = denParts_monthly["Discrepancy"]

denParts_monthly

Month
January    -1114.20
July         -92.66
June        -525.81
November     -33.28
October    -2375.87
Name: Discrepancy, dtype: float64

In [33]:
#Calculate $$ per cause category
denParts_categorical = denParts_df.groupby(["Cause"]).sum("Discrepancy")

denParts_categorical = denParts_categorical["Discrepancy"]

denParts_categorical

Cause
Entry_Error    -1988.88
Over_NTE        -525.81
Part_Pricing    -512.93
Unpaid         -1114.20
Name: Discrepancy, dtype: float64

In [34]:
#create new DF with month and cause $$ amounts for DEN Parts
den_parts = pd.DataFrame({"January":[denParts_monthly.January], "February":0, "March":0,
                           "April":0, "May":0, "June":[denParts_monthly.June],"July":[denParts_monthly.July],
                           "August":0, "September":0, "October":[denParts_monthly.October], 
                           "November":[denParts_monthly.November], "December":0, "Part_Pricing":[denParts_categorical.Part_Pricing],
                           "Over_NTE":[denParts_categorical.Over_NTE], "Consumables":0, 
                            "Entry_Error":[denParts_categorical.Entry_Error], "Incorrect_Rate":0, "Misc_Charge":0,
                           "Tax_Enviro":0})



#rename index to branch/dept
den_parts_summary=den_parts.rename({0: "DEN_Parts"})

den_parts_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
DEN_Parts,-1114.2,0,0,0,0,-525.81,-92.66,0,0,-2375.87,-33.28,0,-512.93,-525.81,0,-1988.88,0,0,0

In [35]:
#create new DF with SLC Parts invoices
slcParts_df = invpricing[invpricing.Branch_Dept == "SLC_Parts"]

slcParts_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
2256,SLC_Parts,Kuehne + Nagel,V30107058,C3039491,138.93,126.30,-12.63,Part_Pricing,2021-10-18,October
2357,SLC_Parts,Walmart,V30096324,C3036049,304.37,281.62,-22.75,Part_Pricing,2021-01-13,January
2358,SLC_Parts,Walmart,V30096890,C3036375,81.50,76.25,-5.25,Part_Pricing,2021-01-18,January
2359,SLC_Parts,Walmart,V30097145,C3036478,114.78,110.04,-4.74,Part_Pricing,2021-01-19,January
2438,SLC_Parts,DHL,V30095574,C3035732,285.87,242.81,-43.06,Part_Pricing,2021-01-20,January

In [36]:
#calculate monthly discrepancy for SLC Parts
slcParts_monthly = slcParts_df.groupby(["Month"]).sum("Discrepancy")

slcParts_monthly = slcParts_monthly["Discrepancy"]

slcParts_monthly

Month
January     -106.75
March        -62.40
November    -122.03
October     -441.02
September   -228.24
Name: Discrepancy, dtype: float64

In [37]:
#Calculate $$ per cause category
slcParts_categorical = slcParts_df.groupby(["Cause"]).sum("Discrepancy")

slcParts_categorical = slcParts_categorical["Discrepancy"]

slcParts_categorical

Cause
Part_Pricing   -200.06
Tax_Enviro     -760.38
Name: Discrepancy, dtype: float64

In [54]:
#create new DF with month and cause $$ amounts for SLC Parts
slc_parts = pd.DataFrame({"January":[slcParts_monthly.January], "February":0, "March":[slcParts_monthly.March],
                           "April":0, "May":0, "June":0,"July":0,
                           "August":0, "September":[slcParts_monthly.September], "October":[slcParts_monthly.October], 
                           "November":[slcParts_monthly.November], "December":0, "Part_Pricing":[slcParts_categorical.Part_Pricing],
                           "Over_NTE":0, "Consumables":0, 
                            "Entry_Error":0, "Incorrect_Rate":0, "Misc_Charge":0,
                           "Tax_Enviro":[slcParts_categorical.Tax_Enviro]})



#rename index to branch/dept
slc_parts_summary=slc_parts.rename({0: "SLC_Parts"})

slc_parts_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
SLC_Parts,-106.75,0,-62.4,0,0,0,0,0,-228.24,-441.02,-122.03,0,-200.06,0,0,0,0,0,-760.38

In [39]:
#create new DF with ABQ Parts invoices
abqParts_df = invpricing[invpricing.Branch_Dept == "ABQ_Parts"]

abqParts_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
1485,ABQ_Parts,Bunzl,V20078096,C2020741,84.06,76.40,-7.66,Part_Pricing,2021-02-12,February
1531,ABQ_Parts,Walmart,V20081652,C2021803,127.11,114.99,-12.12,Part_Pricing,2021-06-04,June

In [40]:
#calculate monthly discrepancy for ABQ Parts
abqParts_monthly = abqParts_df.groupby(["Month"]).sum("Discrepancy")

abqParts_monthly = abqParts_monthly["Discrepancy"]

abqParts_monthly

Month
February    -7.66
June       -12.12
Name: Discrepancy, dtype: float64

In [41]:
#Calculate $$ per cause category
abqParts_categorical = abqParts_df.groupby(["Cause"]).sum("Discrepancy")

abqParts_categorical = abqParts_categorical["Discrepancy"]

abqParts_categorical

Cause
Part_Pricing   -19.78
Name: Discrepancy, dtype: float64

In [42]:
#create new DF with month and cause $$ amounts for ABQ Parts
abq_parts = pd.DataFrame({"January":0, "February":[abqParts_monthly.February], "March":0,
                           "April":0, "May":0, "June":[abqParts_monthly.June],"July":0,
                           "August":0, "September":0, "October":0, 
                           "November":0, "December":0, "Part_Pricing":[abqParts_categorical.Part_Pricing],
                           "Over_NTE":0, "Consumables":0, 
                            "Entry_Error":0, "Incorrect_Rate":0, "Misc_Charge":0,
                           "Tax_Enviro":0})



#rename index to branch/dept
abq_parts_summary=abq_parts.rename({0: "ABQ_Parts"})

abq_parts_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
ABQ_Parts,0,-7.66,0,0,0,-12.12,0,0,0,0,0,0,-19.78,0,0,0,0,0,0

In [46]:
#create new DF with Denver Tire invoices
DenTire_df = invpricing[invpricing.Branch_Dept == "DEN_Tire"]

DenTire_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
1436,DEN_Tire,HD Supply,V10313824,T106354,328.76,358.76,30.0,Incorrect_Rate,2021-02-25,February
2945,DEN_Tire,Home Depot,V10335982,T106746,655.91,635.91,-20.0,Misc_Charge,2021-10-07,October

In [47]:
#calculate monthly discrepancy for Denver Tire
DenTire_monthly = DenTire_df.groupby(["Month"]).sum("Discrepancy")

DenTire_monthly = DenTire_monthly["Discrepancy"]

DenTire_monthly

Month
February    30.0
October    -20.0
Name: Discrepancy, dtype: float64

In [48]:
#Calculate $$ per cause category
DenTire_categorical = DenTire_df.groupby(["Cause"]).sum("Discrepancy")

DenTire_categorical = DenTire_categorical["Discrepancy"]

DenTire_categorical

Cause
Incorrect_Rate    30.0
Misc_Charge      -20.0
Name: Discrepancy, dtype: float64

In [49]:
#create new DF with month and cause $$ amounts for DEN Tire
DenTire_summary = pd.DataFrame({"January":0, "February":[DenTire_monthly.February], "March":0,
                           "April":0, "May":0, "June":0,"July":0,
                           "August":0, "September":0, "October":[DenTire_monthly.October], 
                           "November":0, "December":0, "Part_Pricing":0,
                           "Over_NTE":0, "Consumables":0, 
                            "Entry_Error":0, "Incorrect_Rate":[DenTire_categorical.Incorrect_Rate], "Misc_Charge":[DenTire_categorical.Misc_Charge],
                           "Tax_Enviro":0})



#rename index to branch/dept
DenTire_summary=DenTire_summary.rename({0: "DEN_Tire"})

DenTire_summary

,January,February,March,April,May,June,July,August,September,October,November,December,Part_Pricing,Over_NTE,Consumables,Entry_Error,Incorrect_Rate,Misc_Charge,Tax_Enviro
DEN_Tire,0,30.0,0,0,0,0,0,0,0,-20.0,0,0,0,0,0,0,30.0,-20.0,0