In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
pricing = "Pricing.csv"

# Read the CSV into a Pandas DataFrame
invpricing_df = pd.read_csv(pricing)

invpricing_df.head()

,Branch,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Dept Impacted,Date
0,ABQ,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,Mountain Power,10/01/21
1,ABQ,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,Mountain Power,10/01/21
2,ABQ,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,Mountain Power,10/01/21
3,ABQ,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,Service,02/01/21
4,ABQ,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,Service,02/03/21

In [3]:
#Reorgainze columns
invpricing_df = invpricing_df[["Branch", "Dept Impacted", "Customer Name", "Invoice", "Work Order", " QW Total ", " SAP Total ", " Discrepancy ", "Cause", "Date"]]

invpricing_df.head()

,Branch,Dept Impacted,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Date
0,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21
1,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21
2,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21
3,ABQ,Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21
4,ABQ,Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21

In [4]:
#rename columns
invpricing_df = invpricing_df.rename(columns={"Customer Name":"Customer", "Dept Impacted":"Dept_Impacted", "Invoice":"Inv_Number", "Work Order":"WO", 
                                              " QW Total ":"QW_Total", " SAP Total ":"SAP_Total", " Discrepancy ":"Discrepancy", "Date":"Inv_Date"})

invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21
1,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21
2,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21
3,ABQ,Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21
4,ABQ,Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21

In [5]:
#Combine branch and dept 

invpricing_df['Branch_Dept'] = invpricing_df.Branch.str.cat(invpricing_df.Dept_Impacted,sep=" ")
invpricing_df

,Branch,Dept_Impacted,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Branch_Dept
0,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21,ABQ Mountain Power
1,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21,ABQ Mountain Power
2,ABQ,Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21,ABQ Mountain Power
3,ABQ,Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21,ABQ Service
4,ABQ,Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21,ABQ Service
...,...,...,...,...,...,...,...,...,...,...,...
2932,SLC,Parts,Americold,V30107506,C3039756,184.30,171.04,-13.26,Tax,10/21/21,SLC Parts
2933,SLC,Parts,Americold,V30107773,W357054,5319.14,4936.54,-382.60,Tax,10/28/21,SLC Parts
2934,SLC,Parts,Americold,V30108008,C3039912,1696.68,1574.65,-122.03,Tax,11/03/21,SLC Parts
2935,SLC,Service,Amazon,V30098887,W351970,484.00,360.00,-124.00,Incorrect Labor Rate,02/23/21,SLC Service
2936,SLC,Service,Grainger,V30107578,W357423,233.67,232.50,-1.16,Productive Rounding,10/25/21,SLC Service

In [6]:
#create new DF with branch_dept combined column
invpricing = invpricing_df[["Branch_Dept", "Customer", "Inv_Number", "WO", "QW_Total", "SAP_Total", "Discrepancy", "Cause", "Inv_Date"]]

invpricing.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,10/01/21
1,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,10/01/21
2,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,10/01/21
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,02/01/21
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,02/03/21

In [7]:
#check data types to adjust as needed
invpricing.dtypes

Branch_Dept     object
Customer        object
Inv_Number      object
WO              object
QW_Total       float64
SAP_Total      float64
Discrepancy    float64
Cause           object
Inv_Date        object
dtype: object

In [8]:
#update SAP Total column to numeric values and Date column to datetime

invpricing["Inv_Date"]=pd.to_datetime(invpricing["Inv_Date"])

#verify data types updated
invpricing.dtypes

C:\Users\sheavner\AppData\Local\Temp/ipykernel_10984/1256624477.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invpricing["Inv_Date"]=pd.to_datetime(invpricing["Inv_Date"])

Branch_Dept            object
Customer               object
Inv_Number             object
WO                     object
QW_Total              float64
SAP_Total             float64
Discrepancy           float64
Cause                  object
Inv_Date       datetime64[ns]
dtype: object

In [9]:
invpricing.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date
0,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,2021-10-01
1,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,2021-10-01
2,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,2021-10-01
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,2021-02-01
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,2021-02-03

In [12]:
#create new column for month 
invpricing["Month"] = invpricing["Inv_Date"].dt.month
invpricing.head()

C:\Users\sheavner\AppData\Local\Temp/ipykernel_10984/4067827376.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invpricing["Month"] = invpricing["Inv_Date"].dt.month

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
0,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,0.03,Entry Error - Labor Quantity,2021-10-01,10
1,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,237.83,Entry Error - Misc Charge,2021-10-01,10
2,ABQ Mountain Power,Aramsco,V40006178,B4004377,3717.77,3717.80,-237.83,Tax,2021-10-01,10
3,ABQ Service,Baker Distributing,V20078445,SM2036978,152.87,152.13,-0.74,Part Pricing - Raymond,2021-02-01,2
4,ABQ Service,Baker Distributing,V20078505,SM2036979,182.91,182.40,-0.51,Part Pricing - Raymond,2021-02-03,2

In [13]:
#replace Month number with name

invpricing["Month"] = invpricing["Month"].replace({1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
                                                         7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 
                                                         12:"December"})

C:\Users\sheavner\AppData\Local\Temp/ipykernel_10984/3612796764.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invpricing["Month"] = invpricing["Month"].replace({1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June",

In [14]:
#verify all values have updated
invpricing["Month"].value_counts()

April        354
February     349
January      349
July         309
June         300
March        278
August       277
October      218
May          187
September    186
November     124
December       6
Name: Month, dtype: int64

In [15]:
#create new DF with DEN invoices
den_df = invpricing[invpricing.Branch_Dept == "DEN Service"]

den_df.head()

,Branch_Dept,Customer,Inv_Number,WO,QW_Total,SAP_Total,Discrepancy,Cause,Inv_Date,Month
140,DEN Service,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,2021-02-11,February
141,DEN Service,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,2021-02-24,February
142,DEN Service,Aramsco,V10334621,W1079892,478.20,461.94,-16.26,Part Pricing - TVH/Durasource,2021-09-27,September
143,DEN Service,Aramsco,V10334950,W1080307,181.04,178.38,-2.66,Part Pricing - TVH/Durasource,2021-09-28,September
150,DEN Service,Amazon,V10313861,SM1130350-1,118.68,80.00,-38.68,Consumables,2021-02-26,February

In [16]:
den_monthly = den_df.groupby(["Month"]).sum("Discrepancy")

den_monthly

           QW_Total  SAP_Total  Discrepancy
Month
April      58493.17   54524.52     -3142.48
August     53285.04   49978.01     -2693.39
December    1389.17    1289.84       -99.33
February   40899.38   38354.77     -2162.14
January    74430.92   69759.30     -3844.38
July       63971.07   60118.58     -2860.67
June       47442.56   44104.27     -2666.32
March      42603.26   39941.87     -2361.65
May        36951.46   34491.19     -1938.21
November   34326.81   32858.65     -1425.12
October    38814.39   36737.38     -1742.16
September  58869.84   55135.31     -3716.97