In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
stats = "InvoiceStats.csv"

# Read the CSV into a Pandas DataFrame
inv_stats = pd.read_csv(stats)

inv_stats.head()

,Billing Group,Invoice Status,Servicing Dealer,Dealer Invoice,Requested Amount,Approved Amount,Invoice Create Date,Invoice Issue?
0,ARM,Raymond Paid,60790,V10312509,105.00,105.00,02-12-2021,No
1,ARM,Raymond Paid,60790,V10312513,95.00,95.00,02-12-2021,No
2,ARM,Raymond Paid,60790,V10312515,105.00,105.00,02-12-2021,No
3,ARM,Raymond Paid,60789,V10312527,717.43,717.43,02-12-2021,No
4,ARM,Raymond Paid,60790,V10313561,119.85,119.85,02-24-2021,No

In [3]:
#Reorganize columns

invstats_df = inv_stats[["Servicing Dealer", "Billing Group", "Dealer Invoice", "Invoice Status", "Requested Amount", "Approved Amount", "Invoice Create Date", "Invoice Issue?"]]

invstats_df.head()

,Servicing Dealer,Billing Group,Dealer Invoice,Invoice Status,Requested Amount,Approved Amount,Invoice Create Date,Invoice Issue?
0,60790,ARM,V10312509,Raymond Paid,105.00,105.00,02-12-2021,No
1,60790,ARM,V10312513,Raymond Paid,95.00,95.00,02-12-2021,No
2,60790,ARM,V10312515,Raymond Paid,105.00,105.00,02-12-2021,No
3,60789,ARM,V10312527,Raymond Paid,717.43,717.43,02-12-2021,No
4,60790,ARM,V10313561,Raymond Paid,119.85,119.85,02-24-2021,No

In [4]:
#rename columns

renamed_column_df = invstats_df.rename(columns={"Servicing Dealer":"Branch", "Billing Group":"Customer", "Dealer Invoice":"Inv Number", "Invoice Status":"Inv Status", "Requested Amount": "Req Amt", "Approved Amount":"App Amt", "Invoice Create Date":"Inv Created", "Invoice Issue?":"Inv Issue"})


renamed_column_df.head()

,Branch,Customer,Inv Number,Inv Status,Req Amt,App Amt,Inv Created,Inv Issue
0,60790,ARM,V10312509,Raymond Paid,105.00,105.00,02-12-2021,No
1,60790,ARM,V10312513,Raymond Paid,95.00,95.00,02-12-2021,No
2,60790,ARM,V10312515,Raymond Paid,105.00,105.00,02-12-2021,No
3,60789,ARM,V10312527,Raymond Paid,717.43,717.43,02-12-2021,No
4,60790,ARM,V10313561,Raymond Paid,119.85,119.85,02-24-2021,No

In [10]:
renamed_column_df.dtypes

Branch           int64
Customer        object
Inv Number      object
Inv Status      object
Req Amt        float64
App Amt        float64
Inv Created     object
Inv Issue       object
dtype: object

In [6]:
#rename branch number to abbreviation
renamed_branch_df = renamed_column_df.replace({60789:"DEN", 60790:"DEN", 60791:"SLC", 60792:"ABQ"})

renamed_branch_df.head()

,Branch,Customer,Inv Number,Inv Status,Req Amt,App Amt,Inv Created,Inv Issue
0,DEN,ARM,V10312509,Raymond Paid,105.00,105.00,02-12-2021,No
1,DEN,ARM,V10312513,Raymond Paid,95.00,95.00,02-12-2021,No
2,DEN,ARM,V10312515,Raymond Paid,105.00,105.00,02-12-2021,No
3,DEN,ARM,V10312527,Raymond Paid,717.43,717.43,02-12-2021,No
4,DEN,ARM,V10313561,Raymond Paid,119.85,119.85,02-24-2021,No

In [7]:
#view customer values
cust_count = renamed_branch_df["Customer"].value_counts()
cust_count

 AZ     1115
 HD      601
 WM      598
 ML      292
 UA      165
 KH      154
 ITL     123
 HS      119
 XPO     101
 SC       85
 ARM      83
 KN       82
 WW       44
 XL       32
 TCI      32
 BZ       31
 TSI      28
 OD       26
 MFD      26
 CO       23
 HF       21
 HDD      20
 PCS      20
 COL      18
 BKR      17
 WAY      14
 GS       11
 MR        5
 BL        3
 PTN       2
 LME       2
 BBB       1
Name: Customer, dtype: int64

In [12]:
#updated customer abbreviations
renamed_customer_df = renamed_branch_df.replace({" AZ":"Amazon", " HD":"Home Depot", " WM":"Walmart", " ML":"Medline", " UA":"US Autoforce",
                                                " KH":"KeHE", " ITL":"HD Pro", " HS":"HD Supply", " XPO":"GXO Logistics", " SC":"Sam's Club", " ARM": "Aramsco",
                                                " KN": "Kuehne + Nagel", " WW":"Grainger", " TCI":"TBC International", " XL":"DHL", " BZ":"Bunzl",
                                                " TSI": "Sealy Mattress", " MFD":"Mattress Firm", " OD":"Office Depot", " CO":"Costco",
                                                " HF":"Harbor Freight", " HDD":"HD Pro", " PCS":"Petco", " BKR":"Baker Dist", " WAY":"Wayfair", 
                                                " GS":"Gensco", " BL":"Big Lots", " PTN":"Peloton", " LME":"XPO Last Mile", " BBB": "Bed Bath Beyond"})

renamed_customer_df.head()

,Branch,Customer,Inv Number,Inv Status,Req Amt,App Amt,Inv Created,Inv Issue
0,DEN,Aramsco,V10312509,Raymond Paid,105.00,105.00,02-12-2021,No
1,DEN,Aramsco,V10312513,Raymond Paid,95.00,95.00,02-12-2021,No
2,DEN,Aramsco,V10312515,Raymond Paid,105.00,105.00,02-12-2021,No
3,DEN,Aramsco,V10312527,Raymond Paid,717.43,717.43,02-12-2021,No
4,DEN,Aramsco,V10313561,Raymond Paid,119.85,119.85,02-24-2021,No

In [11]:
#verify all customer names update
cust_count = renamed_customer_df["Customer"].value_counts()
cust_count

Amazon               1115
Home Depot            601
Walmart               598
Medline               292
US Autoforce          165
KeHE                  154
HD Pro                143
HD Supply             119
 XPO                  101
Sam's Club             85
Aramsco                83
Kuehne + Nagel         82
Grainger               44
DHL                    32
TBC International      32
Bunzl                  31
Sealy Mattress         28
Mattress Firm          26
Office Depot           26
Costco                 23
Harbor Freight         21
Petco                  20
 COL                   18
Baker Dist             17
Wayfair                14
Gensco                 11
 MR                     5
Big Lots                3
Peloton                 2
XPO Last Mile           2
Bed Bath Beyond         1
Name: Customer, dtype: int64